:root {
  /* colors for the template */
  --mr-primary-color:#E9E6F3;
  --mr-secondary-color: #B578D6;
  --mr-highlight-color: #E3BE00;
  --mr-dark-color: rgb(33, 33, 33);
  --mr-light-color: rgb(222, 238, 251);
  --mr-background-color: rgba(250, 250, 250, 0.8);
  --mr-nav-toggler-glow: rgba(250, 225, 120, 0.5);
  /*----Fonts for the template-----*/
  --mr-title-font: "Bebas Neue", Impact, Haettenschweiler, sans-serif;
  --mr-subtitle-font: "Fira Sans", sans-serif;
  --mr-body-font: "Roboto", sans-serif;

  --mr--font-size: 1.2rem;
  --mr--font-weight: 400;
}

/*--------------- Styles for Sticky Footer Start ----------*/

/*-- Makes sure the document is 100% tall. Takes up all the visible space --*/
html,
body {
  height: 100%;
}
/*-- making the body a flex box -----*/
body {
  display: flex;
  flex-direction: column;
  font-family: var(--mr-body-font);
  font-size: var(--mr--font-size);
  font-weight: var(--mr--font-weight);
  color: var(--mr-dark-color);
}
/*---Makes our flex box grow ---*/
.content {
  flex: 1 0 auto;
  /*-----offset navbar height-----*/
  margin-top: 4.75rem;
}
/*--- shrink the footer as small as possible -----*/
footer {
  flex-shrink: 0;
}

.btn-outline-primary {
  color: var(--mr-dark-color);
  border-color: var(--mr-secondary-color) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border-color: var(--mr-highlight-color) !important;
  background-color: var(--mr-secondary-color);
}
.btn-primary {
  color: white !important;
  background-color: var(--mr-secondary-color) !important;
  border-color: var(--mr-secondary-color);
}
.btn-primary:hover {
  filter: brightness(1.1) !important;
  border-color: var(--mr-highlight-color) !important;
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  filter: brightness(1.1) !important;
  border-color: var(--mr-primary-color);
}

.btn-primary.contactme{
    background: #373097 !important;
}
/*--------- navBar overrides---------*/
#mainNav {
  background: #E9E6F3;
  /*background: transparent;*/
}

#mainNav {
  background: #E9E6F3;
}

#mainNav button {
  border-color: var(--mr-highlight-color);
}

.navbar-toggler {
  color: var(--mr-nav-toggler-glow) !important;
}

.navbar-toggler-icon-mr {
  color: var(--mr-highlight-color);
  font-size: 1.5rem;
}
/*----------navbar overrides end--------*/

/*-----main header styles start-----*/
.mainHeader {
  background-image: url(/img/PortfolioImages/DevPortFolioBG_576.png);
  height: 200px;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: var(--mr-light-color);
}

.mainHeader-wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
}

.mainHeader-content {
}

.mainTitle {
  font-family: var(--mr-title-font);
  font-size: 7.77rem;
  line-height: 4.777rem;
  color: var(--mr-dark-color);
  text-transform: uppercase;
}

.subTitle {
  font-family: var(--mr-subtitle-font);
  font-weight: 300;
  color: var(--mr-dark-color);
  text-transform: uppercase;
}

.mainLogo {
  height: 1.2777em;
}
/*-----main header styles end-----*/

.profilePic {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.devIcon {
  font-size: 6rem;
}

.section-page {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-page:nth-child(even) {
  background-color: var(--mr-primary-color);
}

.section-page:nth-child(odd) {
  background-color: var(--mr-light-color);
}
.section-page.dark {
  background-color: var(--mr-primary-color) !important;
}

.section-page.light {
  background-color: var(--mr-light-color) !important;
}

.section-page.white{
    background-color: white !important;
}
.section-cta {
  background: var(--mr-dark-color);
  color: var(--mr-light-color);
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ctaIcon {
  color: car(--mr-light-color);
  font-size: 2.5rem;
  padding-left: 0.5rem;
}

.footer-cta {
  border-radius: 15px;
  background-color: var(--mr-secondary-color);
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bg-cta {
  background: linear-gradient(
    to bottom,
    var(--mr-background-color) 0%,
    var(--mr-background-color) 50%,
    var(--mr-dark-color) 50%,
    var(--mr-dark-color) 100%
  );
}

.footer-main {
  background-color: var(--mr-dark-color);
  color: var(--mr-light-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.socialIcons {
  font-size: 2rem;
  color: var(--mr-secondary-color);
}

.socialIcons.youtube {
  color: red;
}

.socialIcons.instagram {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.socialIcons.twitter {
  color: mediumblue;
}

.socialIcons.linkedin {
  color: rgb(54, 54, 236);
}

.socialIcons.facebook {
  color: rgb(54, 54, 236);
}

.socialIcons:hover {
  color: var(--mr-highlight-color);
}

/*-----Media Queries-----*/

/* -----X-Small devices (portrait phones, less than 576px)-----*/
/* -----No media query for `xs` since this is the default in Bootstrap-----*/

/*-----Small devices (landscape phones, 576px and up)-----*/

@media (min-width: 576px) {
  .mainHeader {
    background-image: url(/img/PortfolioImages/DevPortFolioBG_768.png);
    height: 200px;
  }
}

/*---Medium devices (tablets, 768px and up)---*/

@media (min-width: 768px) {
  .mainHeader {
    background-image: url(/img/PortfolioImages/DevPortFolioBG_992.png);
    height: 300px;
  }
}

/*---Large devices (desktops, 992px and up)----*/

@media (min-width: 992px) {
  .mainHeader {
    background-image: url(/img/PortfolioImages/DevPortFolioBG_1200.png);
    height: 400px;
  }
}

/*---X-Large devices (large desktops, 1200px and up)---*/

@media (min-width: 1200px) {
  .mainHeader {
    background-image: url(/img/PortfolioImages/DevPortFolioBG_2560.png);
    height: 500px;
  }
}

/*-----XX-Large devices (larger desktops, 1400px and up)---*/

@media (min-width: 1400px) {
  .mainHeader {
    background-image: url(/img/PortfolioImages/DevPortFolioBG_2560.png);
    height: 600px;
  }
}
/*-----End Queries-----*/
